<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <base href="/">
    <title>Open Andela</title>
    <meta name="description" content="Openandela, Open Andela, Lagos state empowerment program">
    <meta name="keywords" content="Openandela, Open Andela, computer, empowerment, training, Lagos state, youth Nigeria unemployment issue">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/lagos.png">
    <link rel="stylesheet" type="text/css" href="lib/css/app.css">
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-75842349-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="lib/js/app.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" ng-controller="OpenAndelaCtrl">
    <div class="open-andela">
        <section class="container-fluid page-one">
            <div class="row overlay"></div>
            <div class="row first-page-landing">
                <nav class="navbar navbar-top-margin">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#open-andela" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand brand-logo" href="#"><span class="brand-img"><img class="" src="assets/img/lagos.png"></span><span class="brand-text">Lagos State Ministry of Wealth Creation and Employment</span></a>
                        </div>
                        <div class="collapse navbar-collapse" id="open-andela">
                            <ul class="nav navbar-nav pull-right nav-links">
                                <li><a href="#about">About</a></li>
                                <li><a href="http://curriculum.openandela.org">Curriculum</a></li>
                                <li><a a href="https://boards.greenhouse.io/andela/jobs/185972#.VvFdvBIrJP0" target="_blank">Apply Now</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="col-xs-12 col-sm-8 col-sm-offset-1 landing-text">
                    <h3>Learn to build software. Change your life. Change the world</h3>
                    <h6>Secure your future by learning the most valuable skill in the world; how to develop software and web applications.</h6>
                    <div class="home-apply-link"><a href="https://boards.greenhouse.io/andela/jobs/185972#.VvFdvBIrJP0" target="_blank">click to apply</a> </div>
                </div>
            </div>
        </section>
        <section class="container-fluid page-two">
            <div id="getting_started"></div>
            <div class="row lagos-study">
                <div class="col-xs-12 text-center">
                    <h4 class="program">THE LAGOS STUDY PROGRAM</h4>
                </div>
                <div class="col-xs-10 col-xs-offset-1 lagos-study-text">
                    <P> The Open Andela Lagos Study Program seeks to provide an accessible version of the original Andela Homestudy Program to young people interested in pursuing a career in Software Development. During this program, you will be taught the basics of coding from our home study curriculum. This opportunity will give you and all candidates a higher chance of having a successful career in technology. It is an 11-week program to introduce you to the practical concepts of Software Development with an eye to helping develop your career in the ICT space. This program is made possible by a partnership between Andela and the Lagos State Government through the Ministry of Wealth Creation & Employment and Ministry of Science & Technology for sustainable collaboration in technology skill acquisition and employability.</P>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 application-process">
                    <div>
                        <h4 class="program">APPLICATION PROCESS</h4>
                    </div>
                </div>
                <div class="col-xs-12" style="padding: 60px 0">
                    <div class="col-xs-5 col-sm-4 col-sm-offset-1" style="margin-bottom: 5%;">
                        <div class="application-stage" ng-class="{clickedDiv: process.id == currentIndex}" ng-repeat="process in application_process" ng-click="showClicked(process.id)">
                            {{process.stage}}</div>
                    </div>
                    <div class="col-xs-7 col-sm-6" style="margin-bottom: 5%;">
                        <div ng-show="process.id == currentIndex" ng-repeat="process in application_process">
                            {{process.process}}</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid page-three">
            <div id="register"></div>
            <div class="row">
                <div class="apply">
                    <div class="apply-now-link">
                        <a href="https://boards.greenhouse.io/andela/jobs/185972#.VvFdvBIrJP0" target="_blank" class="btn btn-primary apply-now">CLICK HERE TO APPLY NOW</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 eligible-div">
                    <div class="clickable" ng-click="toggleEligibilityView()">
                        <h4>Click Here To See Who's Eligible</h4>
                        <div class="glyphicon glyphicon-chevron-down"></div>
                    </div>
                </div>
                <div class="col-xs-12 criteria" ng-show="eligibleViewStatus">
                    <h3 class="text-center">Eligibility Criteria</h3>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div class="col-xs-12 col-sm-6">
                            <div class="col-xs-1">
                                <h4><span class="glyphicon glyphicon-ok okay-color"></span></h4>
                            </div>
                            <div class="col-xs-10">
                                <h4>You must be 18 or older</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="col-xs-1">
                                <h4><span class="glyphicon glyphicon-ok okay-color"></span></h4>
                            </div>
                            <div class="col-xs-10">
                                <h4>Open Andela does not have any degree or diploma requirements.</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="col-xs-1">
                                <h4><span class="glyphicon glyphicon-ok okay-color"></span></h4>
                            </div>
                            <div class="col-xs-10">
                                <h4>You must be a resident of Lagos state and have a <a href="http://www.lagosresidents.gov.ng/home/">LASRRA Identification</a> number</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="deadline">Lagos 2016 Application Deadline</h4>
                </div>
                <div class="col-xs-12">
                    <h4 class="deadline-date" id="deadline-date"></h4>
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 timerDiv" id="timerDiv">
                    <div class="col-xs-2">
                        <div class="thumbnail remove-border">
                            <div class="months"></div>
                            <div class="caption">
                                <div>Months</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="thumbnail remove-border">
                            <div class="days"></div>
                            <div class="caption">
                                <div>Days</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="thumbnail remove-border">
                            <div class="hours"></div>
                            <div class="caption">
                                <div>Hours</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="thumbnail remove-border">
                            <div class="minutes"></div>
                            <div class="caption">
                                <div>Minutes</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="thumbnail remove-border">
                            <div class="seconds"></div>
                            <div class="caption">
                                <div>Seconds</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h4 class="deadline-date">Deadline: June 6th   |   Training: June – August</h4>
                </div>
            </div>
            <div class="row">
                <div class="apply">
                    <div class="apply-now-link">
                        <a href="https://boards.greenhouse.io/andela/jobs/185972#.VvFdvBIrJP0" target="_blank" class="btn btn-primary apply-now">CLICK HERE TO APPLY NOW</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid page-four">
            <div class="row benefits">
                <div class="col-xs-12 benefits-main">
                    <h3 class="benefits-text">Benefits</h3>
                </div>
                <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                    <h4>Program Benefits</h4>
                    <div class="col-xs-12 text-left">
                        <ul>
                            <li> A Certificate of Participation endorsed by the Lagos State Ministry of Employment and Wealth Creation</li>
                            <li> An opportunity to be admitted to the prestigious and exclusive Andela Fellowship</li>
                            <li> An opportunity to participate in a job fair with Lagos’ top technology companies</li>
                            <li> Free Seminar on how to build your own Software Consulting Business</li>
                            <li> A surprise gift for those who complete the program!</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h4>Career Benefits</h4>
                    <div class="col-xs-11 text-left">We are training future leaders committed to helping others succeed. As you advance in the program, you’ll learn what it takes to write code and develop software applications. The business of software consulting session will prepare you for endless career paths, including setting up your own company, founding your own company, and taking leadership roles at local and global tech companies.</div>
                </div>
            </div>
        </section>
        <section class="container-fluid page-five text-center">
            <div class="row last-page-one">
                <div class="col-xs-12 overlay-last-page1">
                </div>
                <div class="col-xs-12 last-page-first">
                    <div id="carousel-testimonies" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators text-carousel-indicator" style="bottom: -87px">
                            <li data-target="#carousel-testimonies" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-testimonies" data-slide-to="1"></li>
                            <li data-target="#carousel-testimonies" data-slide-to="2"></li>
                            <li data-target="#carousel-testimonies" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner text-carousel" role="listbox">
                            <div class="item active">
                                <div class="item-text">
                                    <h3>From day one, our Andela developers were fully committed to the product we were building.</h3>
                                    <p>Chris Conlin / SVP Software Development, 2U</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-text">
                                    <h3>I didn't expect it to be this tough. But the great thing is, they teach and empower us to thrive under pressure.</h3>
                                    <p>Hannah Koske / Andela Developer, Kenya</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-text">
                                    <h3>Our Andela developers are fantastic. They are gifted, focused, and responsive.</h3>
                                    <p>Bob Calise / CTO, CommunityCo</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-text">
                                    <h3>With Andela, we actually took a project that took 90 days and did it in 45.</h3>
                                    <p>
                                        Greg Brauner / Director Of Growth Marketing, Udacity</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row last-page-two">
                <div id="about"></div>
                <div class="col-xs-12" style="color: white">
                    <h4>FAQ!</h4>
                </div>
                <div class="col-xs-12 col-sm-11 col-sm-offset-1" style="color: white">
                    <div class="" style="padding: 0 0 2% 0">For enquiries, please read the application <a data-toggle="modal" data-target="#faq">FAQ</a>, if you still have any unanswered questions, please send an email to info@openandela.org For enquiries, please read the application</div>
                </div>
            </div>
            <div class="row last-page-three">
                <div class="col-xs-12 overlay-last-page">
                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 about-page">
                    <h3>About us</h3>
                    <div>Welcome to the OpenAndela experience. The goal of Open Andela is to enable young Africans who are passionate about technology access knowledge of introductory computer science concepts regardless of their level of access to power, a computer, or an internet connection.
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="faq" tabindex="-1" role="dialog" aria-labelledby="faqLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="faqLabel">Open Andela FAQ</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default panel-background">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Is this an Internship?
                            </a>
                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            This is not an internship, it is a training program
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-background">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              What is LASRRA?
                            </a>
                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            LASRRA is the Lagos State Residents Registration Agency
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-background">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              How do I register for LASRRA?
                            </a>
                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            Please go to the LASRRA home page to get more information on registration process.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-background">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Do I need to reside in Lagos State to get the LASRRA Identification Number?
                            </a>
                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="panel-body">
                                            Unfortunately, you do need to reside in Lagos to receive the LASRRA ID number.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-background">
                                    <div class="panel-heading" role="tab" id="headingFive">
                                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              Is the training program free?
                            </a>
                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                        <div class="panel-body">
                                            Yes, the program is free.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-background">
                                    <div class="panel-heading" role="tab" id="headingSix">
                                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              Is the program running during the week and weekends?
                            </a>
                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                        <div class="panel-body">
                                            The program only runs during the week
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
